



<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
          <h1>Nabeel Alabed</h1>
          <img src="img/Me.png" width="200px" alt="">
          <h4>About Me</h4>
          <p>I'm stuyding Software Engineering Technology at Centennial College.
          </p>
          <p>This is my third semester, and I'm hoping on being a full-stack developer one day!</p>
          <a href="https://docs.google.com/document/d/1zlWlr6H0IBTroSnKXo16MOikfiNcTCKK/edit"><button>Resume</button></a>
          <a href="/">Home</a>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>
