<h2>Welcome to RapidTech for software Dev</h2>
<p>In RapidTech we believe in delivering a fast and great quality sevices</p>
<img src="img/logo11.jpg" alt="">
<p>Please check our services page.</p>
<a href="/about">About</a>