
<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
          <div class="card-group">
            <div class="card">
              <img src="/img/first.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Demo Project 1</h5>
                <p class="card-text">As I don't have Projects yet I added these just to fill the requirements.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="/img/second.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Demo Project 2</h5>
                <p class="card-text">As I don't have Projects yet I added these just to fill the requirements.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="/img/third.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Demo Project 3</h5>
                <p class="card-text">As I don't have Projects yet I added these just to fill the requirements.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>
